p
{
	text-indent: 40px;
	}
	
body
{
	background-color: orange;
	margin: 30px;
	}
	
body:before
{
	content: link(index.html);
	}

li
{
	color: yellow;
	font-weight: bold;
	}

a
{
	color: green;
	}
	
a:visited
{
	color: red
	}

a:active
{
	color: green;
	}

#retour
{
	border: black solid 2px;
	background: white;
	margin-bottom: 10px;
	padding: 5px;
}

.description
{
	color: black;
	font-size: 14px;
	font-weight: normal;
}